body {
  background: #e8e8e8;
}

#app {
  padding: 25px;

  #game {
    margin: auto;
    width: 450px;

    #grid {
      
      .tile {
        width: 150px;
        border: none;
        display: inline-block;
        cursor: pointer;
        vertical-align: top;
      }
    }
  }
}